<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Registro</title>
  </head>
  <body>
    <h1>Registro</h1>
    <form action="{{ url_for('registro') }}" method="post">
      <label for="email">E-mail:</label><br>
      <input type="email" id="email" name="email" required><br><br>
      <label for="senha">Senha:</label><br>
      <input type="password" id="senha" name="senha" required><br><br>
      <input type="submit" value="Registrar">
    </form>
  </body>
</html>